aiogram==3.0.0b7
fastapi[all]
pydantic
pydantic[email]
SQLAlchemy==2.0.17
alembic
uvicorn
gunicorn
passlib[bcrypt]
tenacity
python-multipart
asyncpg
asyncpg_utils
psycopg2-binary
psycopg2
python-jose
pytest
bcrypt
httpx
python-dotenv
loguru
bson
black
faker
pytest-asyncio
pytest-cov
pre-commit
fastapi-mail
asgi-correlation-id
stringcase
redis
redis-om